{% extends 'base_foot_head.html' %}
{% block title %}天天生鲜-搜索结果{% endblock title %}


{% block content %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list/4/0/1" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">

		<div class="r_wrap fr clearfix">


			<ul class="goods_type_list clearfix">

                {% for goods in page.object_list %}

				<li>
					<a href="/detail/{{ goods.object.id }}/"><img src="/static/{{ goods.object.gpic }}"></a>
					<h4><a href="/detail/{{ goods.object.id }}/">{% load highlight %} {% highlight goods.object.gtitle with query %}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ goods.object.gprice }}</span>
						<span class="unit">{{ goods.object.gprice }}/{{ goods.object.gunit }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>

				</li>
                    {% empty %}
                    <p>啥也没找到</p>
                {% endfor %}

			</ul>

			<div class="pagenation">
            {% if page.has_previous %}
				<a href="../{{ page.previous_page_number }}/">上一页></a>
            {% endif %}

            {% if page.has_next %}
				<a href="../{{ page.next_page_number }}/">下一页></a>
            {% endif %}
			</div>
		</div>
	</div>
    {% endblock content %}
