<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/booktest/postTest2/">
    <label>用户名：</label><input type="text" name="uname"><br>
    <label>密码：</label><input type="password" name="upwd"><br>
    <label>性别:</label><input type="radio" name="ugender" value="男"
    checked="checked">男 <input type="radio" name="ugender" value="女">女<br>

    <lable>爱好</lable><input type="checkbox" name="uhobby" value="胸口碎大石">胸口碎大石
    <input type="checkbox" name="uhobby" value="抽烟喝酒烫头">抽烟喝酒烫头
    <input type="checkbox" name="uhobby" value="抢银行">抢银行
    <br>
    <label>住址：</label>
    <select name="uaddress">
        <option value="北京">北京</option>
        <option value="上海">上海</option>
        <option value="广州">广州</option>
    </select>
    <br>
    <input type="submit" value="提交">

</form>
</body>
</html>