{% extends 'base_foot.html' %}
{% block js_other %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript">
    $(function () {
        a = $.cookie('uname')
        $('.login_info em').html(a)
        if (a)
        {
            $('.login_btn').hide()
            $('.login_info').show()
        }
        else {
            $('.login_btn').show()
            $('.login_info').hide()
        }
        $('.user_link .logout').click(function () {
            $.cookie('uname','',{expires:7,path:'/'})
        })
    })
    </script>
{% endblock js_other %}

{% block body %}
    {% block nar_head %}
<div class="header_con">
		<div class="header">
			<div class="welcome fl">{% block welcome %}{% endblock welcome %}</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em></em>
				</div>
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/1/">我的订单</a>
                    <a href="/user/logout/" class="logout">&nbsp;&nbsp;退出</a>
				</div>
			</div>
		</div>
	</div>
        <div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
            {% if pwd == 'user' %}
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
                <div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>

        {% else %}
		<div class="search_con fl">
        <form method="get" action="/search/" target="_blank">
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
		</div>

        <div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
        {% endif %}
	</div>
    {% endblock nar_head %}
    {% block  content%}

    {% endblock content %}
{% endblock body %}